.post-content{
    border: 1px solid #dedede;
    box-shadow: none;
    border-radius: 5px;
    padding: 20px;
}
.mdui-theme-layout-dark .post-content{
    border: 1px solid rgb(70,61,61);
}
code ,.highlight{
    overflow-y:hidden;
    overflow-x:scroll;
    color: #fc5185;
}
a {
    color: rgba(247.65,65,.761);
    text-decoration: none;
    transition: .5s;
}
h2 {
    font-size: 24px;
    border-bottom: 2px solid #dedede;
    margin-bottom: 10px;
}
.mdui-theme-layout-dark h2 {
    border-bottom: 2px solid #737373;
}