<% if (theme.fab.enable) {%>
<a class="mdui-fab mdui-ripple mdui-color-<%= theme.color.accent%> mdui-fab-fixed" href="<%= theme.fab.url%>"><i href="<%= theme.fab.url%>" class="material-icons mdui-icon mdui-text-color-black-icon"><%= theme.fab.icon%></i></a>
<%}%>